:root{
    --side-gap : 20px;
}

h1{
    margin:0px;
    font-weight:500;
}
p{
    margin:0px;
}
ul{
    padding : 0px;
}
body{
    font-family:'Roboto';
    background-color : rgb(240, 240, 240);
    margin : 0px;
}
header{
    letter-spacing: -5px;
    background : url('headerbg.jpg') no-repeat center;
    background-size : 100% 100%;
    color:white;
    font-family:'Lora';
    font-size:1.5rem;
    padding : 15px 2%;
}
header .big{
    display : inline;
    font-size : 4.5rem;
}
nav{
    background-color : white;
    padding : 0 var(--side-gap);
    display : flex;
    justify-content:flex-start;
}
nav span{ 
    padding: 15px 15px;
    text-align:center;
}
.hover-anim{
    background-color:white;
    cursor:pointer;
    transition : background-color 200ms ease-in, color 200ms ease-in;
}
.hover-anim:hover{
    color:white;
    background-color:black;
}
.selected-nav{
    color:white;
    background-color:black;
}
nav .arrow-svg{
    margin-right : auto;
}
nav .search{
    padding-right : 15px;
    cursor : pointer;
    transition : transform 200ms ease-in-out;
}
nav .search:hover{
    transform : scale(1.1);
}
.post-nav{
    padding : 12px var(--side-gap);
    background-color:lightgray;
    color:rgb(51, 51, 51);
    display:flex;
    align-items : center;
}

.post-nav .thunder{
    position : relative;
    top : -2px;
}

.post-nav .tag-line{
    flex-grow:1;
}
.post-nav .breaking-news{
    padding-right : 50px;
    padding-left : 10px;
    color:black;
    text-align:left;
}
.post-nav .date{
    padding-left:7px;
    text-align:right;
}
.content{
    margin : calc(3*var(--side-gap)) var(--side-gap);
    height : 35vw;
    width : 70vw;
    display : grid;
    grid-gap : var(--side-gap);
    grid-template-columns : repeat(4,1fr);
    grid-template-rows : repeat(2,1fr);
    
}
.content >*{
    color : white;
    border-radius : 6px;
}
.major.one{
    background : url('https://unsplash.com/photos/brown-rock-formation-under-white-sky-during-daytime-lOCs_CdxfA') no-repeat center;
    background-size : cover;
    grid-column : 1/3;
    grid-row : 1/3;
}
.medium.two{
    background : url(./pic1.jpg) no-repeat center;
    background-size : cover;
    grid-column : 3/4;
    grid-row : 1/3;
}
.minor{
    background : url(./pic1.jpg) no-repeat center;
    background-size : 100% 100%;
}
.text .type{
    color : rgb(230, 230, 230);
    max-width:fit-content;
    padding : 2px 7px 4px 7px;
    margin : 0px 4px;
    background-color : black;
    border-radius : 10px;
}
.text .author{
    margin-bottom : 4%;
}
.major .text{
    position : relative;
    max-width : 80%;
    left : 10%;
    top : 55%;
}
.medium .text{
    position : relative;
    max-width : 90%;
    left : 10%;
    top : 60%;
}
.minor .text{
    position : relative;
    max-width : 80%;
    left : 10%;
    top : 30%;
}
.headline{
    margin : 4% 0;
}
.major .text .headline{
    
    font-size:2.5rem;
}
.medium .text .headline{
    
    font-size:1.5rem;
}
.minor .text .headline{
    
    font-size:1.2rem;
}
img.calender{
    position : relative;
    top : 2px;
}
.selected-side{
    color:white;
    background-color:black;
}
.side-bar{
    position:absolute;
    right : var(--side-gap);
    top : 35%;
    width : 25vw;
}
.side-bar .side-heading{
    text-align: center;
    display : flex;
}
.side-heading span{
    font-size : 1.3rem;
    border-radius : 6px;
    padding : 15px 5px;
    flex-grow : 1;
}
ul.side-articles{
    list-style : none;
}
.side-article{
    padding : 4px;
    margin : 10px 0px;
    background-color : white;
    display : flex;
}
.side-article .side-text{
    padding : 5px 0 0 5px;
    
}   
.side-article .side-headline{
    font-size : 1.1rem;
    padding-bottom : 4%;
}
.side-img{
    height: 83px;
    width : 83px;
    padding: 6px;
    border-radius : 10px;
}

.release-date span{
    margin-left : 4px;
    color : black;
    background-color : inherit;
}